/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 header {
    color: white;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  
}
ul {
  font-size: 13px;
  margin-top : 0;
  margin-bottom: 10px;
}
body {
  padding-top: 51px;
}
header .navbar-left span {
  font-size: 20px;
  padding-top: 10px;
}
 .nav-item {
  list-style: none;
 }

a#text {
  font-size: 13px;
  display: block;
  float: left;
}
li#glyphicon {
    position: relative;
    padding: 10px 15px;
}
a:visited {
  color: #666;
}
div.field, div.actions {
  margin-bottom: 10px;
}
a:hover {
    background-color: #000;
    color: #337ab7;
  }

#error_explanation {
  color: red;
}
